{% extends 'mobile/mbase.html' %}
{% load staticfiles %}

{% block head %}
{% endblock %}
{% block up_style %}
<style>
	.text-p{
		display: inline-block;
		margin: 0 0px;
	}
	.news-top{
		margin-right: 20px;
		color: red;
	}
	.body-main{
		margin-top: 0;
	}
	.nav-bg{
		background-color: rgb(240, 248, 255);
	}
	.home-top:first-child{
		border-top: none;
		margin-top: 2px;
	}

	.am-gallery-default>li{
		padding: 5px!important;
	}

	.weather-pic{
		height: 30px;
		margin-left: 10px;
	}
	.weather-li{
		padding: 4px!important;
	}
	.weather-li>span{
		margin-left: 15px;
	}
</style>
{% endblock %}

{% block main %}
<nav data-am-widget="menu" class="am-menu  am-menu-default nav-bg" >
	<ul class="am-menu-nav am-avg-sm-5">
		<li id="top"><a href="{% url 'mkind' 'top' %}">头条</a></li>
		<li id="shehui"><a href="{% url 'mkind' 'shehui' %}">社会</a></li>
		<li id="guonei"><a href="{% url 'mkind' 'guonei' %}">国内</a></li>
		<li id="guoji"><a href="{% url 'mkind' 'guoji' %}">国际</a></li>
		<li id="yule"><a href="{% url 'mkind' 'yule' %}">娱乐</a></li>
		<li id="tiyu"><a href="{% url 'mkind' 'tiyu' %}">体育</a></li>
		<li id="junshi"><a href="{% url 'mkind' 'junshi' %}">军事</a></li>
		<li id="keji"><a href="{% url 'mkind' 'keji' %}">科技</a></li>
		<li id="caijing"><a href="{% url 'mkind' 'caijing' %}">财经</a></li>
		<li id="shishang"><a href="{% url 'mkind' 'shishang' %}">时尚</a></li>
	</ul>
</nav>

<div data-am-widget="list_news" class="am-list-news am-list-news-default body-main">
	<div class="am-list-news-bd">
		<ul id="news-body" class="am-list" id="home-top">
			<li class="am-g am-list-item-desced weather-li">
				<img class="weather-pic" src="{{ weather.pic }}" >
				<span>{{ weather.city }}今天</span>
				<span class="weather-info">{{ weather.wea }}</span>
				<span class="temperature-n">气温：{{ weather.temperature }}°</span>
			</li>
			{% for one in news_top %}
			<li class="am-g am-list-item-desced home-top">
				<a href="{% url 'mdetail' one.uniquekey %}" class="am-list-item-hd ">{{ one.title }}</a>
				<div class="am-list-item-text">
					<p class="text-p news-top"><i class="am-icon-fire am-icon-fw"></i>置顶</p>
					<p class="text-p" >{{ one.author_name }}</p>
				</div>
			</li>
			{% endfor %}
		</ul>	
	</div>	
</div>


<p class="wait" id="loading"><span class="am-icon-cog am-animation-spin"></span>&nbsp;加载中.请稍等.</p>
<p class="wait" id="no-more" style="display: none;"><span class="am-icon-info-circle"></span>&nbsp;没有更多了</p>
{% endblock %}

{% block script %}
<script>
	$('#home').addClass('am-active');
	$('#head-right').hide();


	function test(n){
		var li1 = $('<li>');
		
		li1.append(title_style('推荐阅读'));
		li1.append(horizontal_pic(n));

		$('#news-body').append(li1);
	}

	var pagenum = 0;
	var bottomflag = true;
	var detailurl = '{% url "mdetail" "xxx" %}'
	function add_news(){
		data = {}
		data['pagenum'] = pagenum
		$.ajax({
			type: "get",
			url: "{% url 'getnews' %}",
			data: data,
			dataType: "json",
			success: function (data) {
				if(data['news_ul'].length){
					data['news_ul'].forEach(function(item,index){
						// console.log(index)
						item['url'] = detailurl.replace('xxx', item['url']);
						if(index==2){
							temp = data['news_top']
							temp.forEach(function(item,index){
								temp[index]['url'] = detailurl.replace('xxx', item['url']);
							});
							test(temp);
						}
						$('#news-body').append(add_pic_left(item));
					});
					bottomflag = true;
				}else{
					$('#no-more').show();
					$('#loading').hide();
				}
			},
			error:function(xhr,state,errorThrown){
				$('#no-more').show();
				$('#loading').hide();
			}	
		});
	}

	add_news();
	$(window).scroll(function(){
		// scroll at bottom
		if (bottomflag && $(window).scrollTop() + $(window).height() > $(document).height() - 100) {
			bottomflag = false;
			pagenum = pagenum + 1;
			setTimeout(function(){
				add_news();
			},2000)					
		}
	});

</script>
{% endblock %}